h1{ 
    color:rgb(125, 0, 2); 
    text-align: center; 
    font: bold 2.5em/2.5em Georgia, 'Times New Roman', Times, serif;  
    line-height: 2em; 
} 

body{ 
    background-color:rgb(0, 0, 0); 
    font-size: 1em; 
    font-weight:normal; 
    color:white; 
    
}


P{
    font-family:Arial, Helvetica, sans-serif; 
}

em{
    font-family:Georgia,'Times New Roman', Times, serif;
    color: rgb(252, 255, 68); 

}

ol{
    color:white;
    font-style: italic;
    list-style-type: decimal; 
}

#family{
    color:red; 
}


#God{
    color: rgb(255, 225, 57);
    font-style: italic; 
    font-size: 1.02em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.importantPeople{
    color:rgb(252, 255, 68);
    font: italic 1em/1em Georgia, 'Times New Roman', Times, serif; 

}

#Important{
    font-family:Georgia, 'Times New Roman', Times, serif; 
}

#lessImportant{
    font: italic 1em/1em Arial, Helvetica, sans-serif; 
    font-size: 1.05em; 
}
#Friends{
    color:azure; 
}

nav{
background-color: white; 
line-height:200%; 
display:block; 
}
nav li 
{
display: inline; 
padding-right: 40px; 
list-style-type: none;
}

nav a:link {
color:red; 
}
nav a:visited {
    color:rgb(180, 0, 0); 
}

link {
    color:White; 
}
a:visited {
    color:White; 
} 

header
{
    padding:25px; 
}

aside 
{ 
    width: 200px; 
    margin: 0px 10px 10px 0px; 
    height: 600px; 
    padding: 10px; 
    float: left; 
} 

section 
{ 
    width: 675px; 
    margin: 0px 0px 10px 0px; 
    height: 600px; 
    padding: 10px; 
    float: right;  
} 


footer 
{ 
    clear: both; 
    padding: 10px;  
    height: 275px;  
} 

#container  
{ 
    background-color:rgb(0, 0, 0);  
    width: 960px;  
    margin: 0 500px;   
} 

main 
{ 
    height: 500px; 
    width: 910px;  
    padding:25px;  
    background-color:rgb(0, 0, 0);  
} 
img 
{ 
    vertical-align: top;  
    padding: 20px;  
    margin:265px;  
    float:initial; 
} 
C-_-  
{  
    color: rgb(19, 19, 19);  
}  


